<div #parallaxRef class="parallax" (mouseleave)="reset()">
  <div #ref class="profile">
    <div class="profile-header">
      <img src="../../assets/header-background.svg" alt="header-background">
      <div #ref class="profile-header-picture"></div>
      <span #ref class="profile-header-plus">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
      </span>
    </div>
    <div class="profile-content">
      <div #ref class="profile-content-title">Developer&lt;Web&gt;</div>
      <p #ref>I currently work as a full-stack web developer, my background is in engineering. I successfully transfered into software development after I taught myself and built a personal portfolio.</p>
      <button #ref class="profile-content-btn">Goto Profile</button>
    </div>
  </div>
</div>